<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    <title>文档识别</title>
</head>
<body>
    <h1>欢迎来到文档识别网站</h1>

    <div class="upload-section">
        <div class="left-section">
            <h2>上传图片</h2>
            <form method="post" enctype="multipart/form-data">
                <input type="file" name="file" multiple>
                <input type="submit" value="上传">
            </form>
            <div class="image-queue">
                {% if filename %}
                    <img src="{{ url_for('static', filename=filename) }}" alt="上传图片">
                {% endif %}
            </div>
        </div>
        <div class="right-section">
            <h2>转换后的图片</h2>
            {% if filename %}
                <img src="{{ url_for('static', filename=filename) }}" alt="转换后的图片">
            {% endif %}
        </div>
    </div>

    <div class="button-section">
        <button class="action-button">文档切边</button>
        <button class="action-button">版面分析</button>
        <button class="action-button">表格提取</button>
        <button class="action-button">版面还原</button>
    </div>

    <footer>
        <small>&copy; 2023 <a href="https://github.com/yuanyatao/my_flask">Yuantao's github</a></small>
    </footer>
</body>
</html>